metadata/*       @oracle/graalvm-reachability-maintainer
tests/*          @oracle/graalvm-reachability-maintainer
tests/tck-build-logic/src/main/resources/allowed-docker-images/* @matneu
library-and-framework-list.json @fniephaus
.github/* @vjovanov
docs/*    @vjovanov
gradle/*  @vjovanov
/*        @vjovanov
