metadata/*       @oracle/graalvm-reachability-maintainer
tests/src/*      @oracle/graalvm-reachability-maintainer
tests/tck-build-logic/* @oracle/graalvm-reachability-maintainer
metadata/library-and-framework-list.json @fniephaus
.github/* @oracle/graalvm-reachability-maintainer
docs/*    @oracle/graalvm-reachability-maintainer
README.md @oracle/graalvm-reachability-maintainer
gradle/*  @oracle/graalvm-reachability-maintainer
/*        @oracle/graalvm-reachability-maintainer
COVERAGE.md @oracle/graalvm-reachability-maintainer
