metadata/*       @oracle/graalvm-reachability-maintainer
tests/src/*      @oracle/graalvm-reachability-maintainer
tests/tck-build-logic/* @vjovanov
tests/tck-build-logic/src/main/resources/allowed-docker-images/* @matneu
metadata/library-and-framework-list.json @fniephaus
.github/* @vjovanov
docs/*    @vjovanov
README.md @vjovanov
gradle/*  @vjovanov
/*        @vjovanov
