local_repositories/
scratchpad/
.idea/
__pycache__/
metadata_forge.egg-info/
logs/
.pending_metrics.json

##############################
## Agent state
##############################
.codex/*
!.codex/skills
.claude/*
!.claude/skills
.pi/*
!.pi/skills
.antigravity/*
!.antigravity/skills
